@tailwind base;
@tailwind components;
@tailwind utilities;



.background-image 
{
    background-image: url('https://img.freepik.com/free-vector/global-technology-earth-news-bulletin-background_1017-33687.jpg?w=1380&t=st=1683979960~exp=1683980560~hmac=e4ec19f7bada0e026faa19a1dcaad5ad1614176304944cdccb6c81bb243f33ba');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}


